.catalogContainer {
  max-width: var(--max-outer-container-width);
  margin: 0 auto;
  padding: 48px 64px;
  display: flex;
  gap: 64px;

  .filtersContainer {
    width: 360px;
    flex-shrink: 0;

    .locationFilterContainer {
      .locationFilterText {
        color: var(--gray);
      }
    }
  }
}
