.rightSideContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 100%;

  .errorText {
    text-align: center;
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .loadMoreBtn {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    color: var(--main);
    width: 145px;
    text-align: center;

    &:hover {
      border-color: var(--button);
    }
  }
}
