.locationFilterContainer {
  margin-top: 8px;
  position: relative;

  .filterInput {
    border: none;
    padding: 18px 46px 14px 46px;
    background-color: var(--inputs);
    border-radius: 12px;
    color: var(--main);
    fill: var(--main);
    outline: none;
    width: 100%;

    &::placeholder {
      color: rgba(16, 24, 40, 0.6);
    }
  }

  .mapIcon {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .defaultOption {
    fill: rgba(16, 24, 40, 0.6);
  }
}
