.camperItemContainer {
  width: 100%;
  min-height: 368px;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  gap: 24px;

  .imageContainer {
    flex-shrink: 0;
    width: 292px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }

  .camperItemInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;

    .features {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .description {
      color: var(--text);
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .headerTitle {
        display: flex;
        justify-content: space-between;

        .headerTitleText {
          font-weight: 600;
          line-height: 1.33;
          font-size: 24px;
        }

        .priceLikeContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;

          .invisibleButton {
            width: 100%;
            height: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            background-color: var(--white);
          }

          .blackHeart {
            fill: var(--main);
          }

          .redHeart {
            fill: var(--button);
          }
        }
      }
    }
  }
}
